h2 {
    color: #FFFCF3;
    text-align: left;
    font-size: 78px;
    font-weight: 800;
    margin: 0;
    padding: 50px 100px 0;
}

h2:hover {
    color: #00BC8F;
    cursor: default;
}

p {
    color: #FFFCF3;
}

article {
    display: flex;
    padding: 50px 100px;
    gap: 87px;
}

article>div:first-child {
    flex: 1;
}

.house {
    height: 28px;
    width: 36px;
}

.laptop {
    height: 28px;
    width: 36px;
}

.my-location {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    padding-top: 48px;
}

.open-for-remote {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.talk-button {
    background-color: black;
    padding: 20px 60px;
    font-size: 23px;
    font-weight: 400;
    transition: width 2s;
    border: 4px solid #FFFCF3;

}

.talk-button:hover {
    font-weight: 700;
    height: 77px;
    width: 260px;
    cursor: pointer;
}

.nav-talk {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-talk p {
    margin: 0;
}

.img-me {
    height: 553px;
    width: 553px;
}

.img-me-container {
    position: relative;
    width: fit-content;
}

.img-me-border {
    display: none;
    position: absolute;
    top: 14px;
    left: 14px;
    pointer-events: none;
    width: 553px;
    height: 553px;
}

.img-me:hover + .img-me-border {
    display: flex;
}